<div class="bg-white rounded-lg shadow-lg p-6">
  <h2 class="text-xl font-semibold mb-2"><%= post.title %></h2>
  <p class="text-gray-600 mb-4"><%= truncate(post.body, length: 100) %></p>
  <p class="text-gray-500 text-sm mb-2">By <%= post.user.email %></p>
  <div class="flex space-x-4">
    <%= link_to 'Show', post_path(post), class: "text-blue-500 hover:underline" %>
    <%= link_to 'Edit', edit_post_path(post), class: "text-green-500 hover:underline" %>
    <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" %>
  </div>
</div>
