<div class="bg-white rounded-lg shadow-lg p-6" id="<%= dom_id(post) %>">
  <div id="edit_post_<%= post.id %>" data-posts-target="postForm" class="hidden mb-6 bg-white p-6 rounded-lg shadow-lg relative">
    <%= render "posts/form", post: Post.new %>
  </div>
  <div id="post_<%=post.id%>_info" class="flex items-start space-x-4">
    <div class="flex-1">
      <h2 class="text-lg font-semibold text-gray-900">
        <%= post.title %>
        <%= link_to post_path(post) do %>
          <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i>
        <% end %>
      </h2>
      <span>
        <div class="" data-controller="gallery">
          <% post.images.each do |image| %>
            <div class="" data-action="click->gallery#displayImage">
              <%= image_tag image.variant(resize_to_limit: [100, 100]), class: "thumbnail", data: {gallery_target: "thumbnail"} %>
            </div>
            <div data-gallery-target="modal" class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center hidden">
              <div class="relative">
                <img data-gallery-target="largeImage" style="width: 500px; height: 500px" />
                <button class="absolute top-0 right-0 text-white text-xl" data-action="click->gallery#closeModal">✕</button>
              </div>
            </div>
          <% end %>
        </div>
      </span>
      <p class="text-gray-600 mt-2"><%= post.body %></p>
      <p class="text-gray-500 text-sm mt-2">By <%= post.user.name %></p>
      <p class="text-gray-500 text-xs mt-2">Posted <%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
    </div>
  </div>

  <div data-controller="comments" class="mt-6">
    <button data-action="click->comments#toggleComments" class="text-blue-500 hover:underline">
      View Comments (<%= post.comments.count %>)
    </button>

    <div data-comments-target="commentsList" class="hidden mt-4">
      <% if post.comments.any? %>
        <% post.comments.each do |comment| %>
          <%= render partial: "comments/comment", locals: { post: post, comment: comment } %>
        <% end %>
      <% else %>
        <p class="text-gray-500">No comments yet.</p>
      <% end %>
    </div>

    <button data-action="click->comments#toggleForm" class="text-green-500 hover:underline mt-4">
      Add a Comment
    </button>

    <div data-comments-target="commentForm" class="hidden mt-4">
      <%= render "comments/form", post: post %>
    </div>
  </div>
</div>
